.speech-bubble {
    position: relative;
    background: var(--background-color1);
    color: var(--color1);
    width: fit-content;
    padding: 15px;
    border: solid;
    border-color: var(--color1);
    border-radius: .3em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: var(--color1);
    border-right: 0;
    border-top: 0;
    margin-top: -10px;
    margin-right: -20px;
}

.quotes-container:before {
    content: '“';
    font-size: 50px;
    position: absolute;
    top: -2%;
    left: 3%;
}

.quotes-container:after {
    content: '”';
    font-size: 50px;
    position: absolute;
    bottom: -18%;
    right: 3%;
}